@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #182634;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: #a2a7ac;
}

.active {
  color: #1d4ed8;
  background-color: #e9efff;
}
